<section class="page-section" id="infos">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5">
          <div class="col-lg-2 col-md-6 text-left section-1">
              <div class="mb-4">
                  <img class="logo-footer" src="https://asamultipecas.com.br/assets/img/logo-2.png" />
              </div>
              <h3 class="h4 mb-4 text-white">NAVEGAR</h3>
              <p>
                  <a class="text-white" routerLink="/produtos">Catálogo de Produtos</a>
              </p>
              <p>
                  <a class="text-white" routerLink="/a-empresa">A Empresa</a>
              </p>
              <p>
                  <a class="text-white" routerLink="/produtos">Últimos Lançamentos</a>
              </p>
              <p>
                  <a class="text-white" routerLink="/contato">SAC</a>
              </p>
          </div>
          <div class="col-lg-3 col-md-6 text-left section-2">
              <div class="item-1">
                  <h3 class="h4 mb-4 text-white">Matriz</h3>
                  <p class="text-white">
                      Av. Sebastião Julio de Aguiar, Nº 1090 St. Parque Oeste Industrial, CEP 74375-620 Goiânia - GO
                  </p>
              </div>
              <div class="item-1">
                  <h3 class="h4 mb-4 text-white">Filial - BA</h3>
                  <p class="text-white">
                      Av. Salvador, Nº 546 Sala 01, Mimoso do Oeste, CEP 47850-000 Luis Eduardo Magalhães - BA
                  </p>
              </div>
              <div class="item-1">
                  <h3 class="h4 mb-4 text-white">Filial - CE</h3>
                  <p class="text-white">
                      Rua Esmerinda Mendes, Nº 869 Casa 4, Engenheiro Luciano Cavalcante, CEP 60810-840 Fortaleza - CE
                  </p>
              </div>
              <div class="item-1">
                  <h3 class="h4 mb-4 text-white">Filial - MA</h3>
                  <p class="text-white">
                      Rua Zelia Campos, Nº 46, Tirirical, CEP 65055-622 São Luiz - MA
                  </p>
              </div>
              <div class="item-2">
                  <h3 class="h4 mb-4 text-white">TELEFONES</h3>
                  <div class="tel-phone">
                      <img src="https://asamultipecas.com.br/assets/zap.svg" class="mr-2" />
                      <span class="ddd ml-2 text-white">62</span>
                      <span class="phone ml-2 text-white">3256-3230</span>
                      <span class="info ml-2 text-white">- SAC</span>
                  </div>
                  <div class="tel-phone">
                      <img src="https://asamultipecas.com.br/assets/zap.svg" class="mr-2" />
                      <span class="ddd ml-2 text-white">62</span>
                      <span class="phone ml-2 text-white">3256-3230</span>
                      <span class="info ml-2 text-white">- Institucional</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-left section-2">
              <div class="item-1">
                  <h3 class="h4 mb-4 text-white">Filial - MG</h3>
                  <p class="text-white">
                      Rua João Batista dos Anjos, Nº 80 Qd 24 Lt 02-A Sala A, Centro, CEP 38465-000 Arapora - MG
                  </p>
              </div>
              <div class="item-1">
                  <h3 class="h4 mb-4 text-white">Filial - MS</h3>
                  <p class="text-white">
                      Av. Três Barras, Nº 3960 Sala 05, Jardim Nossa Senhora do Perpetuo Socorro, CEP 79062-510 Campo Grande - MS
                  </p>
              </div>
              <div class="item-1">
                  <h3 class="h4 mb-4 text-white">Filial - MT</h3>
                  <p class="text-white">
                      Rua Martim Afonso de Sousa, Nº 01 Qd 01 Lt 13, Mapim, CEP 78142-738 Varzea Grande - MT
                  </p>
              </div>
              <div class="item-1">
                  <h3 class="h4 mb-4 text-white">Filial - PA</h3>
                  <p class="text-white">
                      Av. Zacarias de Assunção, Nº 887 Sala 01A, Centro, CEP 67030-180 Ananindeua - PA
                  </p>
              </div>
              <div class="item-1">
                  <h3 class="h4 mb-4 text-white">Filial - RO</h3>
                  <p class="text-white">
                      Av. Marechal Rondon, Nº 5054 Setor 002 Qd 114 Lt 4, Centro, CEP 76988-034 Vilhena - RO
                  </p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-left section-3" style="margin-top: -10rem !important;">
            <app-mapa></app-mapa>
          </div>
      </div>
  </div>
</section>
<footer class="py-3">
  <div class="container px-4 px-lg-5">
      <div class="section-social d-flex">
          <a class="nav-link-social" routerLink="about">
              <img src="https://asamultipecas.com.br/assets/footer/FB.svg" />
          </a>
          <a class="nav-link-social" routerLink="about">
              <img src="https://asamultipecas.com.br/assets/footer/IG.svg" />
          </a>
          <a class="nav-link-social" routerLink="about">
              <img src="https://asamultipecas.com.br/assets/footer/IN.svg" />
          </a>
      </div>
      <div class="text-white copy">Copyright &copy; 2021</div>
  </div>
</footer>
<!-- Modal -->
<div class="catalogo-modal modal-style modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="close-modal" data-bs-dismiss="modal">
              <img src="https://asamultipecas.com.br/assets/close-icon.svg" alt="Close modal" />
          </div>
          <div class="modal-body p-0">
              <div class="col-12">
                  <h3 class="item-title mb-3">Buscar produto</h3>
                  <p class="item-intro">Informe abaixo uma breve descrição do produto.</p>
              </div>
              <div class="form-floating mb-3">
                  <input class="form-control" id="name" type="text" placeholder="Informe seu nome..." />
                  <label for="name">Nome do produto</label>
              </div>
          </div>
          <div class="modal-footer" style="padding-right: 0;">
              <button onclick="findeProduct()" class="btn btn-primary btn-primary-red m-0">Pesquisar</button>
          </div>
      </div>
  </div>
</div>
<!-- Modal-->
<div class="catalogo-modal modal-style modal fade" id="modalCatalogo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="close-modal" data-bs-dismiss="modal">
              <img src="https://asamultipecas.com.br/assets/close-icon.svg" alt="Close modal" />
          </div>
          <div class="container p-1">
              <div class="modal-body p-0">
                  <div class="row">
                      <div class="col-12">
                          <h3 class="item-title mb-3">Catálogos</h3>
                          <p class="item-intro">Selecione o catálogo e clique no link.</p>
                      </div>
                  </div>
                  <div class="row lista-catalogos">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Loading-->
<div class="loader d-none">
  <div class="overlay"></div>
  <div class="lds-facebook">
      <div></div>
      <div></div>
      <div></div>
  </div>
</div>
<!-- Modal -->
<div class="catalogo-modal modal-style modal fade" id="orcamentoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="close-modal" data-bs-dismiss="modal">
              <img src="https://asamultipecas.com.br/assets/close-icon.svg" alt="Close modal" />
          </div>
          <div class="modal-body p-0">
              <div class="col-12">
                  <h3 class="item-title mb-3">Buscar representante por região</h3>
                  <p class="item-intro">Informe um CEP abaixo para localizar o representante mais próximo.</p>
              </div>
              <div class="form-floating mb-3">
                  <input class="form-control" id="cep" onchange="clearUF()" type="text" placeholder="Informe o CEP..." />
                  <label for="cep">CEP</label>
              </div>
              <div class="d-flex flex-row" style="justify-content: space-between;">
                  <div class="form-floating mb-3 w-100" style="margin-right: 17px;">
                      <select class="form-control" id="uf" placeholder="UF" name="select" onchange="clearCEP()">
                          <option value="" selected>Selecione o estado</option>
                          <option value="AC">Acre</option>
                          <option value="AL">Alagoas</option>
                          <option value="AP">Amapá</option>
                          <option value="AM">Amazonas</option>
                          <option value="BA">Bahia</option>
                          <option value="CE">Ceará</option>
                          <option value="DF">Distrito Federal</option>
                          <option value="ES">Espírito Santo</option>
                          <option value="GO">Goiás</option>
                          <option value="MA">Maranhão</option>
                          <option value="MT">Mato Grosso</option>
                          <option value="MS">Mato Grosso do Sul</option>
                          <option value="MG">Minas Gerais</option>
                          <option value="PA">Pará</option>
                          <option value="PB">Paraíba</option>
                          <option value="PR">Paraná</option>
                          <option value="PE">Pernambuco</option>
                          <option value="PI">Piauí</option>
                          <option value="RJ">Rio de Janeiro</option>
                          <option value="RN">Rio Grande do Norte</option>
                          <option value="RS">Rio Grande do Sul</option>
                          <option value="RO">Rondônia</option>
                          <option value="RR">Roraima</option>
                          <option value="SC">Santa Catarina</option>
                          <option value="SP">São Paulo</option>
                          <option value="SE">Sergipe</option>
                          <option value="TO">Tocantins</option>
                          <option value="EX">Estrangeiro</option>
                      </select>
                      <label for="uf">Estado</label>
                  </div>
              </div>
              <div class="row vendedores mb-3 mt-4">
              </div>
          </div>
          <div class="modal-footer" style="padding-right: 0;">
              <button onclick="pesquisacep()" class="btn btn-primary btn-primary-red m-0">Pesquisar</button>
          </div>
      </div>
  </div>
</div>
