<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="height: 40rem !important;" src="https://asamultipecas.com.br/assets/img/header.jpeg"
        class="d-block w-100" alt="img peças">
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Proximo</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Ultimo</span>
    </button>
  </div>
</div>
<section class="page-section" id="lancamentos">
  <div class="container px-5 px-lg-5">
      <div class="row mb-5">
          <div class="col-12 text-center">
              <h3 class="h4">LANÇAMENTOS</h3>
          </div>
      </div>
      <div class="your-class">

        

      </div>
  </div>
</section>
<section class="page-section" id="lancamentos">
  <div class="container px-5 px-lg-5">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h3 class="h4">CATÁLOGOS</h3>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 col-2" style="margin: 0px 30px 20px 30px !important;" *ngFor="let catalogos of catalogos">
          <div class="card" style="width: 14rem !important; height: 27rem !important;">
            <img class="card-img-top" src="../../../assets/img/capa-catalogo-automotivo.jpg" alt="Card image cap">
            <div class="card-body">
              <p><small>{{catalogos.description}}</small></p>
              <a href="{{catalogos.file}}"
                class="btn btn-danger" target="_blank" style="width: 100%;">Download</a>
            </div>
          </div>   
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section" id="marcas">
  <div class="container px-4 py-5 px-lg-5 pt-4">
    <div class="gx-4 gx-lg-5 container-itens slick-initialized slick-slider"><button class="slick-prev slick-arrow"
        aria-label="Previous" type="button" style="">Previous</button>
      <div class="slick-list draggable" style="padding: 0px 40px;">
        <div class="slick-track" style="opacity: 1; width: 6876px; transform: translate3d(-1146px, 0px, 0px);">
          <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
            data-slick-index="-4" id="" aria-hidden="true" tabindex="-1" style="width: 382px;">
            <img src="../../../assets/img/SIEGER.jpg">
          </div>
          <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
            data-slick-index="-3" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
            <img src="../../../assets/img/VENKI.png">
          </div>
          <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
            data-slick-index="-2" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
            <img src="../../../assets/img/WISA.png">
          </div>
          <div
            class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned slick-active"
            data-slick-index="-1" id="" aria-hidden="false" tabindex="-1" style="width: 198px;">
            <img src="../../../assets/img/ZM.png">
          </div>
          <div
            class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-current slick-active slick-center"
            data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 198px;">
            <img src="../../../assets/img/BRASMECK.png">
          </div>
          <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-active"
            data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 198px;">
            <img src="../../../assets/img/ERBS.png">
          </div>
          <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide"
            data-slick-index="2" aria-hidden="true" tabindex="0" style="width: 198px;">
            <img src="../../../assets/img/PROGERAL.jpg">
          </div>
          <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide"
            data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 198px;">
            <img src="../../../assets/img/SIEGER.jpg">
          </div>
          <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide"
            data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 198px;">
            <img src="../../../assets/img/VENKI.png">
          </div>
          <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide"
            data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 198px;">
            <img src="../../../assets/img/WISA.png">
          </div>
          <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide"
            data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 198px;">
            <img src="../../../assets/img/ZM.png">
          </div>
          <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
            data-slick-index="7" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
            <img src="../../../assets/img/BRASMECK.png">
          </div>
          <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
            data-slick-index="8" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
            <img src="../../../assets/img/ERBS.png">
          </div>
          <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
            data-slick-index="9" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
            <img src="../../../assets/img/PROGERAL.jpg">
          </div>
          <div
            class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned slick-center"
            data-slick-index="10" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
            <img src="../../../assets/img/SIEGER.jpg">
          </div>
          <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
            data-slick-index="11" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
            <img src="../../../assets/img/VENKI.png">
          </div>
          <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
            data-slick-index="12" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
            <img src="../../../assets/img/WISA.png">
          </div>
          <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
            data-slick-index="13" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
            <img src="../../../assets/img/ZM.png">
          </div>
        </div>
      </div>
      <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button>
    </div>
  </div>
</section>
<app-footer></app-footer>