<body id="page-top">
    <header class="masthead empresa" id="section-1">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-left">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">A EMPRESA</h1>
                </div>
                <img src="../../../assets/img/img-1.jpeg" class="img-header" />
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white mb-5">A Asa Multipeças é uma empresa que oferece um grande catálogo de produtos
                        <br /> automotivos, pensando com zelo nas partes para que o todo funcione.
                    </p>
                </div>
            </div>
        </div>
    </header>
    <section class="page-section empresa" id="historia">
        <div class="container px-5 px-lg-5">
            <div class="row mb-5 d-flex flex-md-row flex-col section-1">
                <div class="col-md-5 col-12 img text-md-right text-center">
                    <img src="../../../assets/img/img-3.jpeg">
                </div>
                <div class="col-md-6 col-12 content-text text-right mt-md-0 mt-5">
                    <h3 class="mb-4">HISTÓRIA</h3>
                    <p class="text-1">
                        A Asa Multipeças não foi formada visando apenas ser um negócio rentável. A paixão pela
                        descoberta de soluções na área em que seus fundadores atuavam foram as verdadeiras engrenagens
                        dessa empresa, o combustível certo para chegar onde chegou.
                    </p>
                    <p class="text-2">
                        Vender peças pode parecer simples, mas descobrir as partes que fazem o todo funcionar bem é o
                        real desafio da Asa Multipeças, só isso pode justificar seu sucesso com apenas 8 anos de
                        existência num mercado tão competitivo, com empresas já estabelecidas.
                    </p>
                </div>
            </div>
            <div class="row section-2">
                <div class="col-md-auto card-bg missao">
                    <h3 class="mb-3 mt-3">MISSÃO</h3>
                    <span class="text-1">
                        Queremos ser o porto seguro de todos os nossos clientes
                    </span>
                </div>
                <div class="col-md-auto card-bg visao mt-md-0 mt-4">
                    <h3 class="mb-3 mt-3">VISÃO</h3>
                    <span class="text-1">
                        Ser a maior referência em soluções automotivas nos mercados em que atuamos
                    </span>
                </div>
                <div class="col-md-auto card-bg valores mt-md-0 mt-4">
                    <h3 class="mb-3 mt-3">VALORES</h3>
                    <span class="text-1">
                        Honestidade, honradez, disposição, empatia e visão de sucesso
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section empresa" id="mapa">
        <div class="container px-4 px-lg-5">
            <div class="col-lg-6 col-md-6 text-left section-2">
                <div class="item-1">
                    <h3 class="h4 mb-4 text-white">LOCALIZAÇÃO</h3>
                    <p class="text-white">
                        São mais de 20 unidades distribuídas pelo país. E duas sedes em Goiânia e Mato Grosso do Sul.
                    </p>
                    <p class="text-white">
                        Av. T7, N0 1728, St. Bueno; CEP 74371-435; Goiânia - GO
                    </p>
                </div>
                <img src="../../../assets/img/img-2.jpeg">
            </div>
        </div>
    </section>
    <section class="page-section" id="marcas">
        <div class="container px-4 py-5 px-lg-5 pt-4">
            <div class="gx-4 gx-lg-5 container-itens slick-initialized slick-slider"><button
                    class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
                <div class="slick-list draggable" style="padding: 0px 40px;">
                    <div class="slick-track"
                        style="opacity: 1; width: 3564px; transform: translate3d(-594px, 0px, 0px);">
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
                            data-slick-index="-4" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
                            <img src="../../../assets/img/SIEGER.jpg">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
                            data-slick-index="-3" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
                            <img src="../../../assets/img/VENKI.png">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
                            data-slick-index="-2" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
                            <img src="../../../assets/img/WISA.png">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned slick-active"
                            data-slick-index="-1" id="" aria-hidden="false" tabindex="-1" style="width: 198px;">
                            <img src="../../../assets/img/ZM.png">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-current slick-active slick-center"
                            data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 198px;">
                            <img src="../../../assets/img/BRASMECK.png">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-active"
                            data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 198px;">
                            <img src="../../../assets/img/ERBS.png">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide"
                            data-slick-index="2" aria-hidden="true" tabindex="0" style="width: 198px;">
                            <img src="../../../assets/img/PROGERAL.jpg">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide"
                            data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 198px;">
                            <img src="../../../assets/img/SIEGER.jpg">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide"
                            data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 198px;">
                            <img src="../../../assets/img/VENKI.png">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide"
                            data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 198px;">
                            <img src="../../../assets/img/WISA.png">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide"
                            data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 198px;">
                            <img src="../../../assets/img/ZM.png">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
                            data-slick-index="7" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
                            <img src="../../../assets/img/BRASMECK.png">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
                            data-slick-index="8" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
                            <img src="../../../assets/img/ERBS.png">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
                            data-slick-index="9" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
                            <img src="../../../assets/img/PROGERAL.jpg">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned slick-center"
                            data-slick-index="10" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
                            <img src="../../../assets/img/SIEGER.jpg">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
                            data-slick-index="11" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
                            <img src="../../../assets/img/VENKI.png">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
                            data-slick-index="12" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
                            <img src="../../../assets/img/WISA.png">
                        </div>
                        <div class="text-center align-items-center d-flex justify-content-center marca-item slick-slide slick-cloned"
                            data-slick-index="13" id="" aria-hidden="true" tabindex="-1" style="width: 198px;">
                            <img src="../../../assets/img/ZM.png">
                        </div>
                    </div>
                </div>
                <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</body>