<body id="page-top">
  <header class="masthead form">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100">
            <div class="col-lg-7 contato-form d-flex justify-content-center">
                <div class="container-form">
                    <h3 class="h4 mb-2 text-white">Contato</h3>
                    <p class="text-white">
                        Entre em contato conosco, responderemos o mais rápido possível.
                    </p>
                    <form id="contatoFormulario">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Informe seu nome..." />
                            <label for="name">Nome</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com" />
                            <label for="email">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" type="tel" placeholder="(123) XXXX-XXXX" />
                            <label for="phone">Telefone</label>
                        </div>
                        <div class="d-flex flex-row" style="justify-content: space-between;">
                            <div class="form-floating mb-3 w-100" style="margin-right: 17px;">
                                <select class="form-control" id="uf" placeholder="UF" name="select" onchange="mountCidades(this)">
                                    <option value="" selected>Selecione o estado</option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                    <option value="EX">Estrangeiro</option>
                                </select>
                                <label for="uf">Estado</label>
                            </div>
                            <div class="form-floating mb-3 w-100">
                                <select class="form-control" id="city" placeholder="Cidade" name="select">
                                    <option value="">Informe primeiro o estado</option>
                                </select>
                                <label for="city">Cidade</label>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" placeholder="Descreva de forma resumida sua mensagem..." style="height: 10rem"></textarea>
                            <label for="message">Message</label>
                        </div>
                    </form>
                    <div class="mb-3 text-white content-action pt-3">
                        <div class="lgpd">
                            <span>Qual a finalidade de armazenar esses dados?</span>
                            <br />
                            <span>Ao clicar em “Enviar”, concordo com os termos
                                de <a href="#">Política de Privacidade.</a></span>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary" onclick="sendContact()">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 text-left section-2">
                <div class="item-1">
                    <h3 class="h4 mb-4 text-white">ENDEREÇO</h3>
                    <p class="text-white">
                        Av. Sebastião Julio de Aguiar, Nº 1090 St. Parque Oeste Industrial, CEP 74375-620 Goiânia - GO
                    </p>
                </div>
                <div class="item-2">
                    <h3 class="h4 mb-4 text-white">TELEFONES</h3>
                    <div class="tel-phone">
                        <img src="https://asamultipecas.com.br/assets/zap.svg" class="mr-2" />
                        <span class="ddd ml-2 text-white">62</span>
                        <span class="phone ml-2 text-white">3256-3230</span>
                        <span class="info ml-2 text-white">- SAC</span>
                    </div>
                    <div class="tel-phone">
                        <img src="https://asamultipecas.com.br/assets/zap.svg" class="mr-2" />
                        <span class="ddd ml-2 text-white">62</span>
                        <span class="phone ml-2 text-white">3256-3230</span>
                        <span class="info ml-2 text-white">- Institucional</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
  <section class="page-section" id="mapa">
      <div class="container px-4 py-5 px-lg-5">
      </div>
  </section>
  <section class="page-section contact" id="infos">
      <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 d-flex justify-content-center">
              <div class="col-lg-7 col-md-6 text-center section-1 d-flex align-items-center justify-content-center mb-4">
                  <div class="">
                      <img class="logo-footer" style="width: 120px !important;" src="https://asamultipecas.com.br/assets/img/logo-2.png" />
                  </div>
                  <a class="btn btn-primary" style="color: #003663;" data-bs-toggle="modal" data-bs-target="#modalCatalogo">
                      <img style="width: 21px;" src="https://asamultipecas.com.br/assets/catalogo.svg" /> SOLICITAR CATÁLOGO IMPRESSO
                  </a>
              </div>
              <div class="col-lg-7 col-md-6 text-left section-2">
                  <h3 class="h4 mb-0 text-white">NAVEGAR</h3>
                  <a class="text-white" routerLink="/produtos">Catálogo de Produtos</a>
                  <a class="text-white" routerLink="/a-empresa">A Empresa</a>
                  <a class="text-white" routerLink="/produtos">Últimos Lançamentos</a>
                  <a class="text-white" routerLink="/contato">SAC</a>
              </div>
          </div>
      </div>
  </section>
  <footer class="py-3">
      <div class="container px-4 px-lg-5">
          <div class="section-social d-flex">
              <a class="nav-link-social" href="#about">
                  <img src="https://asamultipecas.com.br/assets/footer/FB.svg" />
              </a>
              <a class="nav-link-social" href="#about">
                  <img src="https://asamultipecas.com.br/assets/footer/IG.svg" />
              </a>
              <a class="nav-link-social" href="#about">
                  <img src="https://asamultipecas.com.br/assets/footer/IN.svg" />
              </a>
          </div>
          <div class="text-white copy">Copyright &copy; 2021</div>
      </div>
  </footer>
  <!-- Modal -->
  <div class="catalogo-modal modal-style modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="close-modal" data-bs-dismiss="modal">
                  <img src="https://asamultipecas.com.br/assets/close-icon.svg" alt="Close modal" />
              </div>
              <div class="modal-body p-0">
                  <div class="col-12">
                      <h3 class="item-title mb-3">Buscar produto</h3>
                      <p class="item-intro">Informe abaixo uma breve descrição do produto.</p>
                  </div>
                  <div class="form-floating mb-3">
                      <input class="form-control" id="name" type="text" placeholder="Informe seu nome..." />
                      <label for="name">Nome do produto</label>
                  </div>
              </div>
              <div class="modal-footer" style="padding-right: 0;">
                  <button onclick="findeProduct()" class="btn btn-primary btn-primary-red m-0">Pesquisar</button>
              </div>
          </div>
      </div>
  </div>
  <!-- Modal-->
  <div class="catalogo-modal modal-style modal fade" id="modalCatalogo" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-bs-dismiss="modal">
                  <img src="https://asamultipecas.com.br/assets/close-icon.svg" alt="Close modal" />
              </div>
              <div class="container p-1">
                  <div class="modal-body p-0">
                      <div class="row">
                          <div class="col-12">
                              <h3 class="item-title mb-3">Catálogos</h3>
                              <p class="item-intro">Selecione o catálogo e clique no link.</p>
                          </div>
                      </div>
                      <div class="row lista-catalogos">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
