<nav class="navbar navbar-expand-lg navbar-light fixed-top py-2 p-0 navbar-shrink" id="mainNavSocial">
    <div class="container px-4 px-lg-5">
        <div class="tel-phone">
            <img src="https://asamultipecas.com.br/assets/tel.svg" class="mr-2" />
            <span class="ddd ml-2">62</span>
            <span class="phone ml-2">3256-3230</span>
        </div>
        <img src="https://asamultipecas.com.br/assets/divider.svg" class="divider-y" />
        <a class="nav-link-social" href="#about">
            <img src="https://asamultipecas.com.br/assets/FB.svg" class="mr-0" />
        </a>
        <a class="nav-link-social" href="#about">
            <img src="https://asamultipecas.com.br/assets/IG.svg" class="mr-2" />
        </a>
        <a class="nav-link-social" class="mr-2" href="#about">
            <img src="https://asamultipecas.com.br/assets/IN.svg" />
        </a>
        <a class="nav-link-social" class="mr-2" routerLink="/mapa-geral" >
            <img alt="Nossa localização em todo Brasil" style="margin-right: -15px !important; width: 22px !important; margin-top: -3px !important;" src="../../../assets/img/google_maps-icon.svg" />
        </a>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-2 navbar-shrink" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" routerLink="/">
            <img class="logo-header" src="https://asamultipecas.com.br/assets/img/logo.png" />
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/home">HOME</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/empresa">A EMPRESA</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/produtos">CATÁLOGO DE PRODUTOS</a>
                </li>
                <li class="nav-item"><a class="nav-link" routerLink="/trabalheconosco">TRABALHE CONOSCO</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contato">CONTATO</a></li>
                <li class="nav-item"><a class="nav-link menu-busca" data-bs-toggle="modal"
                        data-bs-target="#searchModal">
                        BUSCA
                        <img class="menu-search" src="https://asamultipecas.com.br/assets/search.svg" />
                    </a></li>
            </ul>
        </div>
    </div>
</nav>